#page-landing{
    background: var(--color-primary);
}
h2{
    color: var(--color-text-in-primary);
}

.logo-container img {
    height: 10 rem;
}
.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}
.hero-image {
    width: 100%;
}
.logo-container h2{
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}
.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem;
    font-size: small;
}
.buttons-container a {
    width: 30rem;
    height:10rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    /*Transição do backgroud*/
    transition: background 0.2s;
    color: var(--color-button-text);
}
.buttons-container a.survey-email, a.survey-list{
    background: var(--color-primary-lighter);
    margin-right: 1rem;
}
.buttons-container a.survey-email:hover, a.survey-list:hover{
    background: var(--color-primary-light);
}
.buttons-container a.response-count, a.new-registration{
    background: var(--color-secondary);
    margin-right: 1;
}
.buttons-container a.response-count:hover, a.new-registration:hover {
    background: var(--color-secondary-dark);
}
.buttons-container a img{
    width: 5rem; 
    margin-right: 1rem;
    margin-left: 1.5rem;
}
.total-search{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.total-search img{
    margin-left: 0.8rem;
}

@media (max-width: 699px){
    :root{
        font-size: 40%;
    }
}

@media (min-width: 1100px){
    #page-landing #container{
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        "proffy image image"
        "button button texting";
        column-gap: 87px;
        row-gap: 86px;

    }
    .logo-container{
        grid-area: proffy;    
        text-align: initial;
        align-self: center;
        margin: 0;
    }
    .logo-container image{
        height: 127px;
    }
    .hero-image{
        grid-area: image;
        height: 350px;
    }
    .buttons-container{
        grid-area: button;
        justify-content: flex-start;
        margin: 0;
    }
    .total-search{
        grid-area: texting;
        justify-self: end;
        font-size: 1.2rem;
    }
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}